
name: Upload Build Artifact
on:
  workflow_call:
    inputs:
      artifact-path:
        required: true
        type: string

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Calculator-build
          path: ${{ inputs.artifact-path }}
          retention-days: 30
