name: .NET Build & Test

on:
  push:
    branches:
      - main
      - developer
      - 'feature/*'
  pull_request:
    branches:
      - main
      - developer
      - 'feature/*'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore CalculatorSolution.sln

      - name: Build solution
        run: dotnet build CalculatorSolution.sln --configuration Release --no-restore


        #------------------Unit Test--------------------
      - name: Run unit tests
        run: dotnet test CalculatorSolution.sln --configuration Release --no-build --verbosity normal

      
        
