name: SonarQube

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build:
    name: Analyze
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Coverage Report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
          path: coverage

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      # - name: Cache Sonar scanner
      #   id: cache-sonar-scanner
      #   uses: actions/cache@v4
      #   with:
      #     path: ${{ runner.temp }}\scanner
      #     key: ${{ runner.os }}-sonar-scanner
      #     restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install Sonar scanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Sonar Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
            dotnet-sonarscanner begin `
            /k:"${{ vars.PROJECT_KEY }}" `
            /o:"${{ vars.ORGANIZATION }}" `
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" `
            /d:sonar.qualitygate.wait=true `
            /d:sonar.cs.opencover.reportsPaths="${{ runner.temp }}\coverage\coverage.opencover.xml"

      - name: Build project
        run: dotnet build --no-incremental

      - name: End Sonar analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"


      - name: Download SonarCloud Qulity Gate Status
        run: |
          curl -s -u "${{ secrets.SONAR_TOKEN }}"\
          "https://sonarcloud.io/api/qualitygates/project status? projectKey=${{ vars.PROJECT_KEY }}" \
          -o sonar-quality-gate.json

      - name: Download SonarCloud Issue Report
        run: |
          curl -s -u "${{ secrets.SONAR_TOKEN }}:" \
          "https://sonarcloud.io/api/issue/search?componentKeys=${{ vars.PROJECT_KEY }}" \
          -o sonar-issue.json

      - name: Upload SonarCloud Report as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sonarcloud-reports
          path: |
            sonar-quality-gate.json
            sonar-issues.json
          retention-days: 14

      # - name: Install ReportGenerator
      #   shell: powershell
      #   run: |
      #     dotnet tool install --global dotnet-reportgenerator-globaltool --version 5.1.23 || true
      #     echo "$env:USERPROFILE\.dotnet\tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8

      # - name: Generate HTML Coverage
      #   shell: powershell
      #   run: |
      #     reportgenerator `
      #       "-reports:${{ runner.temp }}\coverage\coverage.opencover.xml" `
      #       "-targetdir:coverage-report" `
      #       "-reporttypes:Html"

      #     if (Test-Path "coverage-report/index.html") {
      #       Rename-Item "coverage-report/index.html" "code-coverage.html" -Force
      #     }

      # - name: Upload Coverage XML
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-opencover-xml
      #     path: ${{ runner.temp }}\coverage\coverage.opencover.xml
      #     retention-days: 14

      # - name: Upload HTML Coverage Report
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-html-report
      #     path: coverage-report
      #     retention-days: 14
