name: Run System Tests
on:
  workflow_call:

jobs:
  system-test:
    runs-on: ubuntu-latest
    steps:
      - name: Download Source Code
        uses: actions/download-artifact@v4
        with:
          name: source-code
          path: .

      - name: Download Build Output
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: .

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Run System Tests
        run: |
          PROJECT_FILE=$(find . -name "*.csproj" | grep -v Tests | head -n 1)
          if [ -z "$PROJECT_FILE" ]; then
            echo "No main project file found!"
            exit 1
          fi
          echo "Found project: $PROJECT_FILE"
          dotnet test "$PROJECT_FILE" --no-build --verbosity normal \
            --collect:"XPlat Code Coverage" \
            --logger "trx;LogFileName=SystemTestResults.trx" \
            --results-directory TestResults

      - name: Upload System Test Report
        uses: actions/upload-artifact@v4
        with:
          name: system-test-report
          path: 'TestResults/SystemTestResults.trx'
          if-no-files-found: ignore