# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Run System Tests

on:
  workflow_call

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name:  Download Source code
      uses:  actions/download-artifact@v4
      with:
        name:  source-code
        path:  .

    - name:  Download Build Output
      uses:  actions/download-artifact@v4
      with:
        name:  build-output
        path:  .
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Run System Tests
      run:  |
        PROJECT_FILE=$(find . -name "*.csproj" | grep -v Tests | head -n 1)
        if [ -z "$PROJECT_FILE" ]; then
          echo "No main Project file found!"
          exit 1
        fi
        echo  "Found Project:  $PROJECT_FILE"
        dotnet test  "$PROJECT_FILE" --nobuild  --verbosity normal\
          --collect:"XPlat Code Coverage"
          --logger  "trx;LogFileName=SystemTestResults.trx" \
          --results-directory TestResults

    - name:  Upload System Test Result
      uses:  actions/upload-artifact@v4
      with:
        name:  system test report
        path:  'TestResults/SystemTestResults.trx'
        if-no-files-found:  ignore
      
